fbody, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote 
{
	margin: 0; padding: 0; border: 0;
}

body 
{
	font: 16px Helvetica, Arial, Sans-Serif; color: #636363; line-height: 24px;
}

#container 
{
	width: 400px; 
	position: relative;
	white-space: normal;
}

#socialsite
{
	position: relative;
	left: 450px;
	top: 150px;
}


#logo 
{
	position: relative;
	left: 450px;
	top: 200px;
	color: #969696;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
	text-decoration: none;
	outline: none;
}



#navbar
{
	position: relative;
	left: 700px;
	top: 5px;
	color: #969696;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
	text-decoration: none;
	outline: none;
	
}
#navbar2
{
	position: relative;
	left: 692px;
	top: -3px;
	color: #969696;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
	text-decoration: none;
	outline: none;
	
}
ul#nav 
{
	width: 910px; list-style: none; overflow: hidden; margin: -135px auto 5px auto;
	position: relative;

}
ul#nav li 
{
		width: 200px; 
		height: 35px; 
		float: left; padding: 10px 0 0 0;
		background: #333399; "blue background to Links"
		font-weight: bold; text-transform: uppercase; text-align: center;
		position:relative;
		font: 18px Georgia, Serif; color: #f2f0eb; 
}
#contactfont
{
	color: #463c3c;
    font-family: 'SynchroLET', 'Synchro LET', 'MS Sans Serif', fantasy;
    font-size: 15px;
	position: relative;
	left: 450px;
	top: 120px;

}

ul#nav li:nth-child(1) 
{
    margin: 80px 20px 0px 400px;
}
ul#nav li:nth-child(2)
{
	margin: -45px 0px 0 550px;
}
ul#nav li:nth-child(3) 
{
	margin: -45px 400px 0 700px;
}

#navbar a {color: #969696; text-decoration: none;}
#navbar a:hover {color: #a12121;}
#navbar a:active {color: #a12121;}
#navbar2 a {color: #969696; text-decoration: none;}
#navbar2 a:hover {color: #a12121;}
#navbar2 a:active {color: #a12121;}

#header 
{
	height: 400px; padding: 52px 0 0 57px;
	background-position: auto;
}

#header h1 
{
		font: 38px Georgia, Serif; color: #f2f0eb; letter-spacing: 2px; margin: 0 0 20px 0;
		text-shadow: 0px 3px 3px #494949;
}
#header h2 
{
		width: 700px; font: 30px Georgia, Serif; color: #f2f0eb; letter-spacing: 2px; margin: 0 0 20px 0;
		text-shadow: 0px 3px 3px #494949;
}
#header h3
{
	font: 15px Georgia, Serif; color: #f2f0eb;
}
#header h3 a
{
	color: #FFFFFF; text-decoration: none;}
#header h3 a: hover {color: #a12121;}
#header p.btn a 
{
		display: block; width: 225px; height: 50px; overflow: hidden;
		background: url(images/home-header-btn.jpg); text-indent: -9999px;
}

#sidebarbody
{
    color: #463c3c;
	right: 0px;
	top:20px;
	left:250px;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 13px;
	position: relative;
}

#blogbodywrap
{
    color: #463c3c;
	right: 0px;
	top:120px;
	left:250px;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 13px;
	position: relative;	
	width: 400px;
}
#blogbody
{
    color: #463c3c;
	right: 0px;
	top:120px;
	left:250px;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 13px;
	position: relative;	
}
#commentbody
{
    color: #463c3c;
	top:100px;
	left:250px;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 13px;
	position: relative;
}
#blogbody2
{
    color: #463c3c;
	right: 0px;
	top:180px;
	left:250px;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 13px;
	position: absolute;
}
#blogbody3
{
    color: #463c3c;
	right: 0px;
	top:250px;
	left:250px;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 13px;
	position: absolute;
}
#blogbody4
{
    color: #463c3c;
	right: 0px;
	top:300px;
	left:250px;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 13px;
	position: absolute;
}
#textboxes
{

	color : #747862;
	height: 20px;
    width: 220px;
	border:0;
	padding: 1px 1px 1px 1px;
	margin-bottom:0px;
   left:350px;
   top: 180px;
   position: absolute;
}
#textboxes2
{

	color : #747862;
	height: 20px;
    width: 220px;
	border:0;
	padding: 1px 1px 1px 1px;
	margin-bottom:0px;
   left:350px;
   top: 250px;
   position: absolute;
}
#textboxescomment
{

	color : #747862;
	height: 20px;
    width: 220px;
	border:0;
	padding: 1px 1px 1px 1px;
	margin-bottom:0px;
   left:350px;
   position: relative;
}

#blogboxes
{

  width: 330px;
	color : #747862;
	height:300px;
	border:0;
	padding:1px 1px;
	margin-bottom:0px;
   left:350px;
   top:300px;
   position: absolute;
}

#blogboxescomment
{

  width: 330px;
	color : #747862;
	height:300px;
	border:0;
	padding:1px 1px;
	margin-bottom:0px;
   left:350px;
   top: 320px;
   position: relative;
}
#errormessage
{
	color: #463c3c;
	right: 0px;
	top:-50px;
	left:0px;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 13px;
	position: relative;
}
#bloglinks
{
	left:250px;
	top:100px;
   	position: relative;
	color: #969696;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 13px;
}
#createlink
{
	left:650px;
	top:200px;
   	position: absolute;
	color: #969696;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 13px;
}
#paginated
{
	left:250px;
}

#bloglinks a {color: #969696; text-decoration: none;}
#bloglinks a:hover {color: #a12121;}
#bloglinks a:active {color: #a12121;}


#picture
{
	left:550px;
	top:80px;
	position: absolute;
}
#blogicon
{
	left:450px;
	top:100px;
	position: absolute;
	font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 20px;
	color: #463c3c;

	
}

#underimage
{
	color: #463c3c;
	left: 550px;
	top: 450px;
	position: relative;
	font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 17px;
}
#underimage2
{
	color: #463c3c;
	left: 550px;
	top: -300px;
	position: relative;
	font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 13px;
}

.style {
    padding: 4px;
}
.paragraph_style {
    color: #969696;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 42px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_External_395_62 {
    position: relative;
}
.Header {
    color: #969696;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 42px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal {
    padding: 4px;
}
.Normal_External_395_62 {
    position: relative;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#widget0 a:hover {
    color: #000000;
    text-decoration: underline;f}
#widget0 a:visited {
    color: #666666;
    text-decoration: underline;
}
#widget0 a {
    color: #463c3c;
    text-decoration: underline;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}

    