


<body style="background: #ffffff; margin: 0pt;>


		   <div style="margin-bottom: 0px; margin-left: auto; margin-right: auto; margin-top: 0px; overflow: hidden; position: relative; word-wrap: break-word;  background: #ffffff; text-align: left; width: 700px; " id="body_content">
		   <div style="margin-left: 0px; position: relative; width: 700px; z-index: 0; " id="nav_layer">
		     
		
		   <p>
		   <p>

	<p id="navbar"><%= link_to "Home", root_path%>&nbsp;&nbsp;&nbsp;
	        <%= link_to "Resume", resumes_path %>&nbsp;&nbsp;&nbsp;
	        <%= link_to "Contact", contacts_path %>&nbsp;&nbsp;&nbsp;
			<%= link_to "Blog", posts_path %></p>
		   
		   
		   </div>
		   <br>
		   <br>
		   
		   <p id="logo">ScottMarmulstein.com</p>
		  

		  	






